/*BUTTONS*/

.button {
    display: inline-block;
    border: 4px solid $red;
    color: #fff;
    text-transform: uppercase;
    height: 60px;
    line-height: 53px;
    font-size: 21px;
    font-family: $pb;
    padding: 0 50px;
    background-color: transparent;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;

    .fa {
        display: none;
    }

    &:hover {
        background-color: $red;
    }

    &:disabled {
        .fa {
            display: inline-block;
        }
    }
    @media (max-width: 1400px) {
        padding: 0 40px;
        height: 50px;
        line-height: 45px;
        font-size: 18px;
        border-width: 3px;
    }
    @media (max-width: 800px) {
        padding: 0 40px;
        height: 45px;
        line-height: 42px;
        font-size: 16px;
        border-width: 3px;
    }
    @media (max-width: 600px) {
        padding: 0 30px;
        height: 40px;
        line-height: 37px;
        font-size: 15px;
        border-width: 2px;
    }
}



/*  Next/Prev arrows links  */
.arrow-link {
    color: $black;
    font-size: 21px;
    text-transform: uppercase;
    font-family: $pb;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 0 45px;

    &:before,
    &:after {
        position: absolute;
        margin-top: -10px;
        top: 50%;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        font-family: FontAwesome;
        color: $black;
        pointer-events: none;
    }

    &:before {
        visibility: visible;
        opacity: 1;
    }

    &:after {
        visibility: hidden;
        opacity: 0;
    }

    &.next-link {
        &:before,
        &:after {
            content: "\f178";
        }       

        &:before {
            right: 0;
        }

        &:after {
            left: 0;
        }

        &:hover {
            padding-right: 0;

            &:before {
                -webkit-transform: translateX(45px);
                -ms-transform: translateX(45px);
                -o-transform: translateX(45px);
                transform: translateX(45px);
            }
        }
    }

    &.prev-link {
        &:before,
        &:after {
            content: "\f177";
        }

        &:before {
            left: 0;
        }

        &:after {
            right: 0;
        }

        &:hover {
            padding-left: 0;
            &:before {
                -webkit-transform: translateX(-45px);
                -ms-transform: translateX(-45px);
                -o-transform: translateX(-45px);
                transform: translateX(-45px);
            }
        }
    }
    
    &:hover {
        color: $red;

        &:before,
        &:after {
            color: $red;
        }

        &:before {
            opacity: 0;
            visibility: hidden;
        }

        &:after {
            opacity: 1;
            visibility: visible;
        }
    }

}



.form-group:not(:last-child) {
    margin-bottom: 25px;
}
.form-group.submit {
    margin-top: 80px;

    @media (max-width: 991px) {
        margin-top: 25px;
    }
}
.form-group .button {
    color: #fff;
    background-color: $red;

    &:hover {
        background-color: transparent;
        color: $red;
    }
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
    width: 100%;
    height: 50px;
    display: block;
    border: 2px solid $black;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 18px;
    font-family: $ps;
    color: $black;
    background-color: transparent;

    @media (max-width: 991px) {
        height: 40px;
        font-size: 16px;
    }

    &::-webkit-input-placeholder {
        color: $black;
        text-transform: uppercase;
        opacity: 1;
        -webkit-transition: opacity 0.3s ease;
        -o-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;
    }
    &::-moz-placeholder {
        color: $black;
        text-transform: uppercase;
        opacity: 1;
        -webkit-transition: opacity 0.3s ease;
        -o-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;
    }
    &:-moz-placeholder {
        color: $black;
        text-transform: uppercase;
        opacity: 1;
        -webkit-transition: opacity 0.3s ease;
        -o-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;
    }
    &:-ms-input-placeholder {
        color: $black;
        text-transform: uppercase;
        opacity: 1;
        -webkit-transition: opacity 0.3s ease;
        -o-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;
    }
}



textarea {
    padding-top: 12px;
    padding-bottom: 12px;
    resize: none;

    @media (max-width: 991px) {
        padding-top: 7px;
        padding-bottom: 7px;
    }
}
.form-group.focus input[type=text],
.form-group.focus input[type=email],
.form-group.focus input[type=tel] {
    border-bottom-color: $red;
    color: $red;

    &::-webkit-input-placeholder {
        opacity: 0;
    }
    &::-moz-placeholder {
        opacity: 0;
    }
    &:-moz-placeholder {
        opacity: 0;
    }
    &:-ms-input-placeholder {
        opacity: 0;
    }
}

.form-group.focus textarea {
    height: 120px;
    border-color: $red;
    padding-left: 10px;
    padding-right: 10px;
    color: $red;

    &::-webkit-input-placeholder {
        opacity: 0;
    }
    &::-moz-placeholder {
        opacity: 0;
    }
    &:-moz-placeholder {
        opacity: 0;
    }
    &:-ms-input-placeholder {
        opacity: 0;
    }
}