         
.mainHeader {
    @include position(fixed, 40px, 0, auto, 0);
    z-index: 101;
    @include flex();
    padding: 0 40px;
    @include transition(all, .4s);
    @media (max-width: 700px) {
        padding: 0 15px;
    }
    &.hasScrolled {
        padding-top: 6px;
        padding-bottom: 6px;
        background: rgba(0,0,0,.8);
        top: 0;
        .logo {
            max-width: 340px;
        }
        @media (max-width: 1700px) {
            .logo {
                max-width: 300px;
            }
        }
        @media (max-width: 1400px) {
            .logo {
                max-width: 240px;
            }
        }
    }
    @media (max-width: 1700px) {
        top: 30px;
    }
    @media (max-width: 1400px) {
        top: 20px;
    }
}

.logo {
    @include transition(all, .4s);
    img {
        max-width: 100%;
        display: block;
    }
    @media (max-width: 1700px) {
        width: 320px;
    }
    @media (max-width: 1400px) {
        width: 260px;
    }
    @media (max-width: 700px) {
        width: 40%;
    }
}


.opened-menu {
    .mainHeader.hasScrolled {
        background: transparent;
        top: 40px;
        .logo {
            width: 340px;
        }
        @media (max-width: 1700px) {
            top: 30px;
            .logo {
                width: 300px;
            }
        }
        @media (max-width: 1400px) {
            top: 20px;
            .logo {
                width: 240px;
            }
        }
        @media (max-width: 700px) {
            .logo {
                width: 40%;
            }
        }
    }
}


/* ------------------------------------ */
/*  NAV STYLES  */
.siteNavigation {
    @include flex($direction: column, $justify: space-between);
    @include position(fixed, 0, 0, 0, 0);
    margin: auto;
    padding: 0;
    height: -webkit-calc(100% - 40px);
    height: calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px);
    max-width: 0;
    overflow: hidden;
    z-index: 20;
    background: $black;
    -webkit-transition: max-width .8s cubic-bezier(0.68, -0.55, 0.265, 1.55), .2s padding .2s;
       -moz-transition: max-width .8s cubic-bezier(0.68, -0.55, 0.265, 1.55), .2s padding .2s;
        -ms-transition: max-width .8s cubic-bezier(0.68, -0.55, 0.265, 1.55), .2s padding .2s;
         -o-transition: max-width .8s cubic-bezier(0.68, -0.55, 0.265, 1.55), .2s padding .2s;
            transition: max-width .8s cubic-bezier(0.68, -0.55, 0.265, 1.55), .2s padding .2s;
    @media (max-width: 1700px) {
        height: -webkit-calc(100% - 30px);
        height: calc(100% - 30px);
        width: -webkit-calc(100% - 30px);
        width: calc(100% - 30px);
    }
    @media (max-width: 1400px) {
        height: -webkit-calc(100% - 20px);
        height: calc(100% - 20px);
        width: -webkit-calc(100% - 20px);
        width: calc(100% - 20px);
    }
    &.active {
        max-width: 100%;
        padding: 35px;
        nav,
        footer {
            visibility: visible;
            opacity: 1;
        }
        @media (max-width: 700px) {
            padding: 15px;
        }
    }
    nav {
        opacity: 0;
        visibility: hidden;
        -webkit-transition: .4s opacity .4s;
           -moz-transition: .4s opacity .4s;
            -ms-transition: .4s opacity .4s;
             -o-transition: .4s opacity .4s;
                transition: .4s opacity .4s;
        ul {
            list-style-type: none;
            text-align: center;
            @media (max-width: 700px) {
                br {
                    display: none;
                }
            }
            li {
                display: inline-block;
                vertical-align: middle;
                margin: 10px 35px;
                @media (max-width: 700px) {
                    margin: 6px 20px;
                    display: block;
                }
                @media (max-width: 500px) {
                    margin: 4px 10px;
                }
                a {
                    color: #FFF;
                    font: 72px $e;
                    @include transition(all, .2s);
                    &:hover {
                        color: $red;
                    }
                    @media (max-width: 1700px) {
                        font-size: 58px;
                    }
                    @media (max-width: 1400px) {
                        font-size: 46px;
                    }
                    @media (max-width: 1200px) {
                        font-size: 36px;
                    }
                    @media (max-width: 800px) {
                        font-size: 36px;
                    }
                    @media (max-width: 700px) {
                        font-size: 32px;
                    }
                    @media (max-width: 600px) {
                        font-size: 28px;
                    }
                    @media (max-width: 500px) {
                        font-size: 26px;
                    }
                    @media (max-width: 400px) {
                        font-size: 24px;
                    }
                }
            }
        }
    }
    footer {
        opacity: 0;
        visibility: hidden;
        -webkit-transition: .4s opacity .4s;
           -moz-transition: .4s opacity .4s;
            -ms-transition: .4s opacity .4s;
             -o-transition: .4s opacity .4s;
                transition: .4s opacity .4s;
        color: #FFF;
        address {
            width: 100%;
            text-align: center;
            color: #FFF;
            text-transform: uppercase;
            font: 18px $ps;
            margin-bottom: 30px;
            .tel {
                text-align: right;
            }
            @media (max-width: 1400px) {
                margin-bottom: 20px;
            }
            @media (max-width: 500px) {
                margin-bottom: 10px;
            }
            &:after {
                display: block;
                content: "";
                margin: 30px auto 0;
                width: 40px;
                height: 2px;
                background-color: #FFF;
                @media (max-width: 1400px) {
                    margin-top: 20px;
                }
                @media (max-width: 500px) {
                    margin-top: 10px;
                }
            }
            @media (max-width: 1700px) {
                font-size: 17px;
            }
            @media (max-width: 1400px) {
                font-size: 16px;
            }
            @media (max-width: 700px) {
                font-size: 14px;
            }
            @media (max-width: 500px) {
                font-size: 13px;
            }
            @media (max-width: 400px) {
                font-size: 12px;
            }
            @media (max-width: 350px) {
                font-size: 11px;
            }
        }
        .soc {
            @include flex();
            @media (max-width: 500px) {
                display: block;
                text-align: center;
            }
            a {
                color: #FFF;
                font: 18px $ps;
                text-transform: uppercase;
                @media (max-width: 1700px) {
                    font-size: 17px;
                }
                @media (max-width: 1400px) {
                    font-size: 16px;
                }
                @media (max-width: 700px) {
                    font-size: 14px;
                }
                @media (max-width: 500px) {
                    font-size: 13px;
                }
                @media (max-width: 400px) {
                    font-size: 12px;
                }
                @media (max-width: 350px) {
                    font-size: 11px;
                }
            }
            > a {
                display: inline-block;
                vertical-align: middle;
                min-width: 200px;
                @media (max-width: 700px) {
                    min-width: 150px;
                }
            }
            .social {
                margin: 0 150px;
                @media (max-width: 1700px) {
                    margin: 0 100px;
                }
                @media (max-width: 1700px) {
                    margin: 0 60px;
                }
                 @media (max-width: 800px) {
                    margin: 0 20px;
                }
                @media (max-width: 500px) {
                }
                a {
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0 8px;
                    @include transition(all, .2s);
                    &:hover {
                        color: #ec2427;
                    }
                    @media (max-width: 700px) {
                        margin: 0 4px;
                    }
                }
            }
        }
    }
}





/* ------------------------------------ */
/*  MENU BUTTON  */

.menu-button     {    
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 110;
    background-color: transparent;
    border: none;
    position: relative;
    margin-right: 47px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    @media (max-width: 500px) {
        width: 23px;
        height: 40px;
        padding: 0;
        margin-right: 47px;
    }
    @media (max-width: 400px) {
        width: 20px;
        height: 36px;
    }
    .menu-line {
        display: block;
        @include position(absolute, auto, 0, auto, 0);
        width: 60%;
        height: 5px;
        background-color: #fff;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        @include transition(all, .4s);
        @media (max-width: 1400px) {
            height: 4px;
        }
        @media (max-width: 500px) {
            width: 100%;
            height: 2px;
        }
    }

    &__text {
        padding-left: 45px;
        color: #FFF;
        text-transform: uppercase;
        font: 21px $pb;
        @media (max-width: 1700px) {
            font-size: 17px;
        }
        @media (max-width: 1400px) {
            font-size: 16px;
        }
        @media (max-width: 700px) {
            font-size: 15px;
        }
        @media (max-width: 500px) {
            font-size: 14px;
        }
        @media (max-width: 500px) {
            padding-left: 30px;
            font-size: 15px;
        }
        @media (max-width: 400px) {
            font-size: 14px;
        }
        @media (max-width: 400px) {
            padding-left: 26px;
        }
    }

    .top_line              {   top: 12px;  margin: auto;
        @media (max-width: 500px) {
            top: 11px;
        }
        @media (max-width: 400px) {
            top: 12px;
        }
    }
    .middle_line           {   top: 22px;  margin: auto;
        @media (max-width: 500px) {
            top: 19px;
        }
        @media (max-width: 400px) {
            top: 18px;
        }
    }
    .bottom_line           {   bottom: 12px; margin: auto;
        @media (max-width: 1400px) {
            bottom: 14px;
        }
        @media (max-width: 500px) {
            bottom: 11px;
        }
        @media (max-width: 400px) {
            bottom: 10px;
        }
    }

    &.active               {   -webkit-border-radius: 6px; border-radius: 6px;}
    &.active .top_line     {   @include transform(rotate(45deg)); top: 45%;
        @media (max-width: 500px) {
            top: 49%;
        }
    }
    &.active .bottom_line  {   @include transform(rotate(-45deg)); bottom: 45%;}
    &.active .middle_line  {   width: 0; left: 50%;}

    &:hover {
        .menu-line {
            background: $red;
        }
    }

        /*.................media.............*/
        @include m800 {
            display: block;
        }
        /*..............end media.............*/

}

.languages {
    text-transform: uppercase;
    list-style-type: none;
    text-align: right;
    min-width: 90px;
    @media (max-width: 500px) {
        min-width: 70px;
    }
    > li {
        display: inline-block;
        vertical-align: middle;
        >  a {
            font: 21px $pb;
            color: #FFF;
            @include transition(all, .2s);
            &:hover {
                color: $red;
            }
            @media (max-width: 1700px) {
                font-size: 17px;
            }
            @media (max-width: 1400px) {
                font-size: 16px;
            }
            @media (max-width: 500px) {
                font-size: 15px;
            }
            @media (max-width: 400px) {
                font-size: 14px;
            }
        }
    }
    &:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 30px;
        height: 30px;
        margin-left: 18px;
        background-image: url("../images/globe.png");
        background-repeat: no-repeat;
        -webkit-background-size: 100% 100%;
             -o-background-size: 100% 100%;
                background-size: 100% 100%;
        @media (max-width: 1400px) {
            width: 26px;
            height: 26px;
            margin-left: 10px;
        }
        @media (max-width: 500px) {
            margin-left: 2px;
        }
        @media (max-width: 500px) {
            width: 20px;
            height: 20px;
        }
    }
}

.languages-hidden {
    width: 360px;
    padding: 35px;
    @include position(fixed, 40px, 40px, 40px, auto);
    background-color: #1B1B1B;
    display: none;
    @include transition(padding, .4s);
    @media (max-width: 1700px) {
        @include position(fixed, 30px, 30px, 30px, auto);
    }
    @media (max-width: 1400px) {
        @include position(fixed, 10px, 10px, 10px, auto);
        box-shadow: 0 0 10px rgba(0,0,0,.4);
    }
    @media (max-width: 1400px) {
        width: 300px;
        padding: 30px;
    }
    @media (max-width: 1200px) {
        padding: 20px;
    }
    @media (max-width: 700px) {
        width: auto;
        @include position(fixed, 10px, 10px, 10px, 10px);
        z-index: 21;
        padding: 10px;
        padding-top: 14px;
    }
    span {
        display: block;
        text-align: center;
        font: 48px $e;
        color: #FFF;
        text-transform: none;
        margin: 70px auto 30px;
        clear: both;
        @media (max-width: 1700px) {
            font-size: 46px;
        }
        @media (max-width: 1400px) {
            font-size: 36px;
        }
        @media (max-width: 700px) {
            font-size: 28px;
        }
    }
    li {
        display: block;
        text-align: center;
        a {
            color: #FFF;
            text-transform: none;
            padding: 30px 0;
            display: inline-block;
            @include transition(all, .2s);
            &:hover {
                color: $red;
            }
            @media (max-width: 1700px) {
                padding: 25px 0;
            }
            @media (max-width: 1400px) {
                padding: 20px 0;
            }
        }
        &:after {
            content: "";
            display: block;
            width: 110px;
            height: 2px;
            background-color: #FFF;
            margin: 0 auto 0;
        }
        &:last-of-type:after {
            display: none;
        }
    }
}
@media (min-width: 1700px) {
    .hasScrolled .languages-hidden {
        @include position(fixed, 30px, 30px, 30px, auto);
    }
}
@media (max-width: 700px) {
    .hasScrolled .languages-hidden {
        padding-top: 0;
    }
    .opened-menu .languages-hidden {
        padding-top: 20px;
    }
}
.close-button {
    float: right;
    background-color: transparent;
    border: none;
    color: #FFF;
    text-transform: uppercase;
    font: 21px $pb;
    cursor: pointer;
    padding: 0;
    @media (max-width: 1700px) {
        font-size: 17px;
    }
    @media (max-width: 1400px) {
        font-size: 16px;
    }
    @media (max-width: 700px) {
        font-size: 15px;
    }
    @media (max-width: 500px) {
        font-size: 14px;
    }
    @media (max-width: 500px) {
        font-size: 15px;
    }
    @media (max-width: 400px) {
        font-size: 14px;
    }
    i {
        display: inline-block;
        vertical-align: middle;
        margin-top: -4px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        z-index: 110;
        background-color: transparent;
        border: none;
        position: relative;
        -webkit-border-radius: 4px;
                border-radius: 4px;
        @media (max-width: 500px) {
            width: 23px;
            height: 40px;
            padding: 0;
            margin-top: -5px;
        }
        @media (max-width: 400px) {
            width: 20px;
            height: 36px;
        }
        .menu-line {
            display: block;
            @include position(absolute, auto, 0, auto, 0);
            width: 60%;
            height: 5px;
            background-color: #fff;
            -webkit-border-radius: 1px;
            border-radius: 1px;
            @include transition(all, .2s);
            @media (max-width: 1400px) {
                height: 4px;
            }
            @media (max-width: 500px) {
                width: 100%;
                height: 2px;
            }
        }


        .top_line              {   top: 12px;  margin: auto; @include transform(rotate(45deg)); top: 45%;
            @media (max-width: 500px) {
                top: 49%;
            }
        }
        .middle_line           {   top: 22px;  margin: auto; width: 0; left: 50%;
        }
        .bottom_line           {   bottom: 12px; margin: auto;  @include transform(rotate(-45deg)); bottom: 45%;
        }
    }
    &:hover {
        .menu-line {
            background-color: $red;
        }
    }
}