.offer {
    height: 100%;
    min-height: 600px;
    max-height: 1100px;
    position: relative;
    z-index: 1;
    @include flex($direction: column, $justify: center);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;

    &-inner {
        height: 700px;
    }
    
    h1 {
        color: #FFF;
        font: 72px $e;
    }
    span {
        color: #FFF;
        font: 18px $ps;
        text-transform: uppercase;
    }
    .button {
        margin-top: 50px;
    }

    .scroll-down {
        position: absolute;
        left: 50%;
        bottom: 80px;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);

        svg {
            display: block;

            path {
                -webkit-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease;
                fill: #fff;
            }
        }

        &:hover svg path {
            fill: $red;
        }
    }
}