.intro-text {
    font-size: 48px;
    font-weight: normal;
    font-family: $e;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 145px;

    @media (max-width: 1600px) {
        font-size: 44px;
    }

    @media (max-width: 1080px) {
        width: 100%;
    }

    @media (max-width: 991px) {
        font-size: 38px;
        margin-bottom: 120px;
    }

    @media (max-width: 767px) {
        font-size: 30px;
        margin-bottom: 80px;
    }

    strong {
        font-weight: normal;
    }
}


.intro-image {
    width: 100%;

    img {
        display: block;
        width: 100%;
    }
}