.post-preview {
    padding-top: 80px;

    @media (max-width: 1600px) {
        padding-top: 40px;
    }

    @media (max-width: 1050px) {
        height: auto;
        padding-bottom: 80px;
        padding-top: 80px;
    }

    &:after {
        opacity: 0.35;
    }

    &:hover &:after {
        opacity: 0.5;
    }

    &__labels {
        position: static;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        padding: 0;
    }

    &:hover  &__labels {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    &__title {
        height: auto;
        margin-top: 50px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        @media (max-width: 1700px) {
            line-height: normal;
            font-size: 46px;
        }
        @media (max-width: 1600px) {
            font-size: 42px;
            margin-top: 40px;
        }
        @media (max-width: 1300px) {
            font-size: 36px;
        }
        @media (max-width: 991px) {
            font-size: 32px;
        }
        @media (max-width: 767px) {
            font-size: 28px;
        }
        @media (max-width: 600px) {
            margin-top: 10px;
        }
        
    }

    &:hover &__title {
        margin-top: 25px;

        @media (max-width: 1600px) {
            margin-top: 20px;
        }
    }

    &__date {
        color: #fff;
        font-family: $ps;
        text-transform: uppercase;
    }


    &__tags {
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -o-transform: translateY(50px);
        transform: translateY(50px);

        @media (max-width: 1050px) {
            -webkit-transform: none;
               -moz-transform: none;
                -ms-transform: none;
                 -o-transform: none;
                    transform: none;
        }
    }

    &:hover &__tags {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}