.services-list {
    list-style: none;
    padding-right: -webkit-calc(50% - 600px);
    padding-right: calc(50% - 600px);
}


.service-link {
    a {
        @include flex($alignI: center);
        text-align: left;
        position: relative;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        color: $black;
        border-top: 2px solid $black;
        padding: 55px 0;

        @media (max-width: 1200px) {
            padding: 45px 0;
        }
        @media (max-width: 475px) {
            padding: 30px 0;
        }
    }

    &__number {
        position: absolute;
        top: 22px;
        left: 0;
        font-family: $ps;
        color: $red;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;

        @media (max-width: 475px) {
            top: 10px;
        }
    }

    &__label {
        width: 58%;
        padding-right: 20px;
        font-size: 48px;
        font-family: $e;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;

        @media (max-width: 1200px) {
            font-size: 40px;
        }

        @media (max-width: 991px) {
            width: 50%;
            font-size: 36px;
        }

        @media (max-width: 767px) {
            font-size: 30px;
        }

        @media (max-width: 600px) {
            font-size: 24px;
        }

        @media (max-width: 475px) {
            font-size: 20px;
        }
    }

    &__description {
        width: 42%;
        color: $black;

        @media (max-width: 991px) {
            width: 50%;
        }

        @media (max-width: 600px) {
            font-size: 14px;
        }
    }

    &:last-of-type a {
        border-bottom: 2px solid $black;

        &:hover {
            border-bottom-color: $red;
        }
    }

    &:hover {
        a {
            border-top-color: $red;
        }

        & + .service-link a {
            border-top-color: $red;
        }
    }

    &:hover &__label {
        color: $red;
    }

    &:hover &__number {
        color: $black;
    }
}