
// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
    font-family: $pr;
    font-size: 18px;
}


// lAYOUT
// ---------------------------
.wrapper {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}
