// COLORS
// ---------------------------


// FONTS
// ---------------------------
$e:                         'Elephant';

$pr:                        'Proxima Nova Rg';
$pl:                        'Proxima Nova Lt';
$pt:                        'Proxima Nova Th';
$pti:                       'Proxima Nova Th It';
$ps:                        'Proxima Nova Semibold';
$pb:                        'Proxima Nova Bold';


// RESPONSIVE
// ---------------------------
